li {
	color: #000000;
	font-family: Arial;
	font-size: 16px;
}

ul.tree {
	list-style-type: none;
	margin-left: 10px;
	padding-left: 35px;
	margin-top: 0;
	margin-bottom: 0;
}

a.treelink {
	font-weight: bold;
	text-decoration: none;
}

a.navlink {
	text-decoration: none;
	color: Navy;
}